<!DOCTYPE html>
<html>
<head>
    <title>Review Note</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            <div class="flash-messages">
                {% for message in messages %}  
                    <p>{{ message }}</p>  
                {% endfor %}  
            </div>
        {% endif %}  
        {% endwith %}
        <h2>Your Notes</h2>
        <div class="notes-container">
            {% if notes|length > 0 %}
                <table class="notes-table">
                    <thead>
                        <tr>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                            <tr>
                                <td>{{ note }}</td>
                                <td>
                                    <form action="/delete_note" method="post" style="display: inline;">
                                        <input type="hidden" name="note" value="{{ note }}">
                                        <button type="submit" class="delete-icon">&#10060;</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No notes</p>
            {% endif %}
        </div>
        <form action="/notes" method="post">
            <input type="text" name="Note" placeholder="What would you like to add?">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
